#my-slider .carousel-inner img{
    height: 553px;
    object-fit:cover;
}
#my-slider .carousel-inner .carousel-caption{
    background-color: #00000059;
    width: 40%;
    bottom: 20%;
}
.banner .container{
    background-image: url('image/banner.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #171717bf;
}
#about img{
    object-fit: cover;
}